*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color:#141414;
    color: white;
}
.navbar{
    position: fixed;
    padding: 20px 60px;
    top: 0;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom,
    rgb(0, 0 ,0.7 ) 0%,
    rgb(0,0,0) 100%);
    transition: background-color 0.3s;
    z-index: 100;

}
.logo{
    height: 25px;
    cursor: pointer;
}
.navbar-nav{
    display: flex;
    gap: 20px;
}
.nav-link{
    font-size: 14px;
    transition: color 0.3s;
    color: #e5e5e5;
    text-decoration: none;
}
.nav-link:hover{
    color:#b5b5b5;
}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 20px;
}
.navbar-right i{

font-size:20px;
cursor: pointer;
}
.profile-icon{
    width: 32px;
    height: 32px;
    cursor: pointer;
    border-radius: 6px;
}
.fake-header{
    height: 75px;
    width: 100%;
}
.Hero{

    margin-left: 50px;
    margin-top: 100px;
    background-image: linear-gradient(to bottom,
    rgb(0, 0, 0.4) 0%,
    rgb(0,0,0.8) 100%,

    ),
            
    url(https://tse1.mm.bing.net/th?id=OIP.bAdBgyN002Ao70irqW_jRQHaEK&pid=Api&P=0&h=180) center/cover;
    background-image: url(https://wallpapercave.com/wp/wp5522066.jpg);
    background-repeat:no-repeat;
    background-attachment:scroll;
    background-position:center;
    background-size:cover;
    display: flex; 
    height: 80vh;
    align-items: center;
    justify-content: center;    
    display: flex;
    padding: 0 60px;
    margin-bottom: 20px;
}
.Hero-content{
    max-width:600px ;
    margin-top: 100px;
    margin-left: 50px;
    justify-content: center ;
    align-items: center;
}
.Hero-title{
    margin-bottom:16px ;
    font-size: 48px;
}
.Hero-description{
    margin-bottom: 24px;
    width: 50%;
    font-size: 18px;

}
.Hero-button{
    
    display: flex;
    gap:16px;

}
.btn {
    background-color: #b5b5b5;
    color: #141414;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 8px;
    transform: all 03s;
}
.btn-play:hover{
    background-color: rgba(255,255,255,0.75);
}
.btn-more-info:hover{
    background-color: rgba(109,109,110,0.4);
}
.container{
    max-width: 100%;
    padding: 0 4% ;
}
.content-section{
    margin-bottom: 50px;

}
.content-title{
    margin-top: 20px;
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 20px;
    letter-spacing: 0.5px;

}
.content-row{
    display: flex;
    gap: 16px;
    overflow-x: auto;

}
.content-row::-webkit-scrollbar{
    height: 8px;
}
.content-row::-webkit-scrollbar-track{
    background: transparent;
}
.content-row::-webkit-scrollbar-thumb{
    background: #333;
    border-radius: 5px;
}
.content-card{
    min-width: 240px;
    height: 140px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease;
    flex-shrink: 0;
    box-shadow: 0 4px 15px rgba(0,0,0,0.4);
}
.content-card img{
    transition: brightness 0.3s ease;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.content-card:hover img{
    filter:brightness(0.4);
}
.netflix-batch{
    position: relative;
    top: 8px;
    left: 8px;
    background-color: #e50914;
    color: white;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 5px;
    font-size: 14px;
    z-index: 2;

}
.card-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(
        180deg,
        rgba(0,0,0,0.1)0%,
        rgba(0,0,0,0.3)50%,
        rgba(0,0,0,0.9)100%
    );
    opacity: 0;
    transition: opacity 0.3s ease;
    flex-direction: column;
    justify-content: space-between;
     

}
.content-card:hover .card-overlay{
    opacity: 1;
}
.overlay-top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.overlay-bottom{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.overlay-title{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.overlay-control{
    display:flex;
    gap:8px;
    margin-bottom: 10px;
}
.control-btn{
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    cursor: pointer;
    transition: all 0.3s ease;
    color: white;
    font-size: 14px;
}
.contro-btn:hover{
    background: rgba(255,255,255,0.3);
    transform: scale(1.1);
}
.play-btn .check-btn .thumb-btn .more-btn{ 
    color:#141414;
    background: white;

}


.overlay-info{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    flex-wrap: wrap;

}
.info-batch{
   background: (255,255,255,0.2); 
   backdrop-filter: blur(10px);
   padding: 3px 6px;
   border-radius: 3px;
   font-size: 10px;
   font-weight: bold;

  
}
.content-card::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(
        to bottom,
        transparent 0%,
        transparent 50%,
        rgba(0,0,0,0.8)100%
    );
    z-index: 1;
}








.footerr{
    height: 200px;
    margin-left: 50px;
    margin-top: 25px;
}
.Logo{
    align-items: center;
    display: flex;
    justify-content: left;
     gap: 10px;
     margin-bottom: 24px;
}
.footer-text{
    align-items: center;
    display: flex;
    justify-content: left;
    gap: 100px;
    margin-bottom: 16px;
    font-weight: lighter;
}
p{
    margin: 16px;
}
